<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aenu.eide" >
    <uses-permission
        
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.INTERNET"/>
    
    <application
        android:theme="@style/AppTheme"
    
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"  
        android:name="aenu.eide.E_Application">
        <activity
              android:name="aenu.eide.E_MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name="aenu.eide.E_FileActivity"
            android:launchMode="singleTask"/>
        
        <activity
            android:name="aenu.eide.E_TermActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
			android:process=":term"
            android:label="终端" >
            <intent-filter>
                <action android:name="eide.intent.action.TERM_EXEC" />   
                <action android:name="eide.intent.action.JAVA_TERM_EXEC" />   
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        <service
			android:process=":term"
            android:name="aenu.eide.E_TermService"/>
		<activity
			android:process=":error"
            android:name="aenu.eide.E_ErrorActivity"
            android:launchMode="singleTask">
			<intent-filter>
                <action android:name="eide.intent.action.ERROR" />     
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
    </application>

</manifest>
